@import 'reset-css/reset.css';

.app {
    margin: 0 auto;
    width: 320px;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.content{
    margin-left: 20px;
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.headerTitle{
    font-size: 110%;
    margin-bottom: 10px;
}

.link {
    color: #bf0000;
    text-decoration: initial;
}

.link:hover {
    text-decoration: underline;
}

/*red #bf0000*/