.root {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: inline-block;
    height: 90px;
    width: 320px;
}
