.root {
    margin-top: 10px;
    margin-bottom: 15px;
}

.logo {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: inline-block;
    height: 70px;
    width: 235px;
}
