.item {
    display: table;
    margin-bottom: 10px;
}

.link {
    color: #bf0000;
    text-decoration: initial;
}

.link:hover {
    text-decoration: underline;
}

.icon {
    display: table-cell;
    padding-right: 10px;
}

.title {
    display: table-cell;
    vertical-align: middle;
}