.item {
    display: table;
    margin-bottom: 10px;
    a {
        color: black;
        text-decoration: initial;
    }
}

.icon {
    display: table-cell;
    padding-right: 10px;
}

.title {
    display: table-cell;
    vertical-align: middle;
}