.contacts{
    display: table;
    width: 380px;
    min-width: 320px;
    margin: auto;
    position: relative;
    padding-left: 60px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.title{
    margin-bottom: 10px;
    h3{
        margin: 0;
    }
}